<!DOCTYPE HTML>
<html>

<head>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.poptrox.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <link rel="stylesheet" href="assets/css/error1.css" />
</head>

<body>
    <div class="err">
        <img id="error" src="images/img_error1.gif" />
    </div>
    <a href="/" class="btn btn--stripe">Home</a>
</body>

</html>