<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="javascripts/my_enroll.js"></script>
    <link rel="stylesheet" href="stylesheets/enroll.css" type="text/css">
    <title>제품 등록</title>
</head>

<body>
    <!-- product -->
    <div id="product">
        <!-- product_Content -->
        <div class="product_Content">
            <!-- product_form -->
            <div class="product_form">
                <div style="text-align: center">
                    <p style="font-size: 14pt; margin-left: 50px; display: inline-block;">product</p>
                    <img type="button" id="close" style="float: right;" src="images/btn_cancle.png" />
                </div>
                <input type="text" id="product_name" placeholder="제품코드"><br>
                <input type="text" id="product_origin" placeholder="원산지"><br>
                <input type="text" id="product_Date_of_Manufacture" placeholder="제조일자"><br>
                <button type="button" id="registration_btn">registration</button>
            </div>
            <!-- product_form -->
        </div>
        <!-- product_Content -->
    </div>
    <!-- product -->
</body>

</html